html {
    font-size: 100%;
}
body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}
.color-blue {
    color: #0065fc;
}   
.color-light-blue {
    color: #deebff;
}
.color-grey {
    color: rgba(54, 54, 50, 0.2);
}
.color-white {
    color: #fff;
}

/* Header for mobile's portrait orientation design */
.header-navigation {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 25px;
    grid-template-areas: "logo sign-up" "lodgings activities";
}
#logo-img {
    height: 3em;
    grid-area: logo;
    position: relative;
    left: 10%;
}
.navigation-link-sign-up a {
    grid-area: sign-up;
    position: relative;
    top: 18px;
    left: 40%;
    color: #0065fc;
    font-weight: 600;
}
.navigation-link-activities a {
    color: rgba(0, 0, 0, 0.92);
    grid-area: activities;
    position: relative;
    left: 30%;
}
.navigation-link-lodgings a {
    grid-area: lodgings;
    position: relative;
    left: 30%;
    color: #0065fc;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.92);
}
.header-navigation a {
    text-decoration: none;
}
.header-navigation .navigation-link-lodgings .underline-effect {
    height: 3px;
    position: absolute;
    top: 9rem;
    width: 50%;
    background: #fff;
}
.header-navigation .navigation-link-lodgings > .underline-effect {
    background-color: #0065fc;
}
.header-navigation .navigation-link-activities .underline-effect {
    height: 3px;
    position: absolute;
    top: 9rem;
    left: 50%;
    width: 50%;
    background: #fff;
}
.header-navigation .navigation-link-activities > .underline-effect {
    background-color: #f2f2f2;
}
.header-navigation .navigation-link-activities:hover > .underline-effect {
    background-color: #0065fc;
}

/* First section for mobile's portrait orientation design*/
#section-1 {
    background-color: #fff;
    margin-top: 3rem;
    margin-left: 1.2rem;
    margin-bottom: 2.3rem;
}
#h1-title {
    color: rgba(0, 0, 0, 0.92);
}
#subtitle {
    margin-top: -0.3rem;
}
.research-box {
    display: inline-flex;
    flex-direction: row;
    margin-top: 1.2rem;
}
.map-icon {
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3.3rem;
    background-color: #f2f2f2;
    border-radius: 18px 0 0 18px;
}
.research-bar {
    width: 70%;
    border: none;
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    padding: 0 0 0 20px;
    font-size: 1rem;
    text-decoration: none;
    margin-right: -1rem;
}
input::placeholder {
    color: rgba(0, 0, 0, 0.92);
    opacity: 1;
}
.research-bar:focus {
    outline: none;
}
#button-2 {
    border: none;
    border-radius: 16px 16px 16px 16px;
    background-color: #0065fc;
    color: #fff;
    width: 3.3rem;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
}
#button-research {
    display: none;
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: #fff;
    height: 3.3rem;
    width: 8em;
    font-weight: 700;
    font-size: 1em;
    padding: 1em;
    cursor: pointer;
}
#title-filters {
    margin-top: 2rem;
    font-size: 1.2rem;
}
.filters-options {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.filter-choice {
    margin-right: 0.5rem;
    margin-bottom: 0.7rem;
    border: 2.5px solid rgba(54, 54, 50, 0.2);
    border-left: none;
    border-radius: 200px;
    height: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.92);
}
.filter-economical {
    width: 11.5rem;
}
.filter-family {
    width: 8.8rem;
}
.filter-romantic {
    width: 10.7rem;
}
.filter-authorized-animals {
    width: 13.8rem;
}
.filter-icons {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 200px;
    margin-top: -1px;
    margin-right: 7px;
    padding: 18px;
    width: 20px;
}
.info-icon {
    font-size: 0.7rem;
    color: #0065fc;
    border: 1px solid #d9d9d9;
    border-radius: 200px;
    margin-right: 0.5rem;
    padding: 6px 10px 6px 10px;
}

/* section 2 "Les plus populaires" for mobile's portrait orientation design */
#section-2 {
    background-color: #f2f2f2;
    width: 100%;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}
.most-populars-title {
    margin-left: 1.2rem;
    margin-bottom: 0;
}
.arrow-chart {
    font-size: 1.4rem;
    position: relative;
    top: -25px;
    left: 88%;
}
#container-les-plus-populaires {
    margin-top: 0rem;
    margin-left: 1.2rem;
}
.popular-boxes {
    background-color: #fff;
    height: 9rem;
    width: 95%;
    border-radius: 20px;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 6px 0px #0000002e;
    color: rgba(0, 0, 0, 0.92);
}
.img-most-populars {
    object-fit: cover;
    float: left;
    height: 8.3rem;
    width: 40%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 0.35rem;
    margin-left: 0.35rem;
    margin-right: 1.2rem;
}
.most-populars-names-places {
    padding-top: 0.7rem;
}
.price-populars {
    margin-top: 0.3rem;
}
.most-populars-names-places {
    margin-bottom: 3px;
}

/* section 3 "Hébergements à Marseille" for mobile's portrait orientation design */
#section-3 {
    background-color: #fff;
    margin-left: 1rem;
    margin-bottom: 3.2rem;
}
#lodgings-section-title {
    color: rgba(0, 0, 0, 0.92);
}
.lodgings-boxes {
    background-color: #fff;
    border-radius: 25px;
    width: 93%;
    height: 13rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 6px 0px #0000002e;
    color: rgba(0, 0, 0, 0.92);
}
.lodgings-img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0.3rem;
    height: 7.2rem;
    width: 97%;
}
.place-name {
    margin-top: 0.125rem;
    margin-left: 0.938rem;
    margin-bottom: 0.25rem;
}
.price {
    margin-top: 0;
    margin-left: 0.938rem;
}
.lodgings-stars {
    margin-top: 0.438rem;
}
#view-more-title {
    margin-top: 2rem;
}

/* section 4 "Activités à Marseille" for mobile's portrait orientation design */
#section-4 {
    background-color: #fff;
    margin-left: 1rem;
    margin-bottom: 3rem;
}
#activities-section-title {
    margin-bottom: 1rem;
}
.activities-boxes {
    border-radius: 25px;
    box-shadow: 1px 1px 17px -9px rgba(0, 0, 0, 0.75);
    color: rgba(0, 0, 0, 0.92);
    height: 11.8rem;
    width: 94%;
    margin-bottom: 1.5rem;
}
.activities-parts-titles {
    font-size: 1.1rem;
    margin-top: 13px;
    margin-left: 20px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.92);
}
.activities-img {
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 75%;
    color: rgba(0, 0, 0, 0.92);
}

/* Footer for mobile's portrait orientation design */
footer {
    background: #f2f2f2;
    width: 100%;
    height: 30.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#footer-navigation {
    margin-left: 2rem;
}
.footer-block {
    margin-bottom: 2.5rem;
}
.footer-title {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.92);
    font-weight: bold;
}

/* CSS for mobile's landscape mode */
@media screen and (min-width: 600px) {
    #button-research {
        display: inline;
    }
    #button-2 {
        display: none;
    }
    #section-2 {
        margin-left: 1rem;
        width: 95%;
        border-radius: 25px;
    }
    .populars-stars {
        margin-top: 1rem;
    }
    #section-3 {
        margin-left: 1rem;
        padding-top: 1rem;
        padding-left: 1.3rem;
        border-radius: 25px;
        background-color: #f2f2f2;
        width: 92%;
        height: 53em;
    } 
    #container-lodgings {
        display: flex;
        flex-wrap: wrap;
    }
    .lodgings-boxes {
        width: 45%;
        height: 13rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }
    #view-more-title {
        margin-top: 0.5em;
    }
    #section-4 {
        margin-left: 1rem;
    }
    #container-pomegues-frioul {
        display: flex;
        flex-direction: row;
    } 
    #container-notre-dame-longchamp {
        display: flex;
        flex-direction: row;
    } 
    .activities-boxes {
        height: 16rem;
        margin-right: 2rem;
        margin-bottom: 1.5rem;
    }
    .vieux-port-box {
        width: 95%;
    }
    .parc-national-des-calanques-box {
        width: 95%;
    }
    .activities-img {
        width: 100%;
        height: 13em;
    }
    footer {
        height: 18rem;
    }
    #footer-navigation {
        display: flex;
        justify-content: space-evenly;
    }
    .footer-block {
        margin-right: 1em;
    }
}

/* Style for tablet's portrait mode */
@media screen and (min-width: 768px) {
    header {
        background-color: #deebff;
        height: 5rem;
    }
    .header-navigation {
        margin-top: 0;
    }
    #logo-img {
        left: 3%;
    }
    .underline-effect {
        display: none;
    }
    .navigation-link-sign-up a {
        left: 60%
    }
    .navigation-link-activities a {
        top: -3.5rem;
    }
    .navigation-link-lodgings a {
        top: -3.5rem;
        left: 88%;
    }
    .img-most-populars {
        width: 30%;
    }
    #section-3 {
        height: 39rem;
    }
    .lodgings-boxes {
        width: 30%;
    }
    .lodgings-img {
        width: 95.5%;
    }
    #activities-section-title {
        margin-left: 1.5rem;
        margin-bottom: 2rem;
    }
    #activities-container {
        margin-left: 1.5rem;
    }
    #footer-navigation {
        margin-left: 0;
    }
    .footer-block {
        margin-right: 0;
    }
}

/* Style for tablet's landscape mode */
@media screen and (min-width: 1020px) {
    #section-3 {
        width: 93%;
    }
    #activities-section-title {
        margin-left: 1em;
    }
    #activities-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1em;
    } 
    .vieux-port-box {
        width: 30%;
    }
    #container-pomegues-frioul {
        width: 66.7%;
    }
    .parc-national-des-calanques-box {
        width: 30%;
    }
    #container-notre-dame-longchamp {
        width: 66.7%;
    }
    #footer-navigation {
        justify-content: space-around;
        margin-left: -2em;
    }
}

/* Style for desktop mode */
@media screen and (min-width: 1490px) {
    header {
        background-color: #fff;
    }
    #logo-img {
        top: 2.5rem;
        left: 25%;
    }
    .header-navigation-link {
        margin-top: 2rem;
    }
    .navigation-link-lodgings a {
        margin-left: 42%;
    }
    .navigation-link-activities a {
        left: 50%;
    }
    .navigation-link-sign-up a {
        left: 65%;
    }
    .header-navigation .navigation-link-activities .underline-effect {
        display: none;
    }
    .header-navigation .navigation-link-lodgings > .overline-effect {
        background-color: #0065fc;
        top: 0;
        left: 62.5%;
        width: 10%;
        display: inline;
    }
    .header-navigation .navigation-link-activities:hover > .overline-effect {
        background-color: #0065fc;
        top: 0;
        left: 72%;
        width: 8%;
        display: inline;
    }
    .navigation-link-activities a:hover {
        color: #0065fc;
    }
    main {
        margin-left: 12%;
        margin-right: 9.5%; 
    }
    .filter-choice:hover {
        background-color: #deebff;
    }
    .blocs-2-3 {
        display: grid;
        grid-template-columns: 1.9fr 1fr;
    }
    #section-2 {
        width: 84%; 
        order: 0;
        margin-bottom: 3rem;
    }
    .populars-stars {
        margin-top: 0.8rem;
    }
    .popular-boxes:hover {
        background-color: #deebff;
    }
    #section-3 {
        width: 93%;
        padding-bottom: 3rem;
        order: -1;
    }
    #lodgings-section-title {
        padding-bottom: 1rem;
    }
    .lodgings-boxes {
        width: 31%;
    }
    .lodgings-boxes:hover {
        background: #deebff;
    }
    #activities-container {
        column-gap: 13px;
    }
    .activities-boxes {
        width:20%;
    }
    .activities-boxes:hover {
        background-color: #deebff;
    }
    #container-pomegues-frioul {
        flex-direction: column;
    } 
    #container-notre-dame-longchamp {
        flex-direction: column;
    } 
    .vieux-port-box {
        height: 27rem;
    }
    .vieux-port-img {
        height: 23.5rem;
    }
    .fort-de-pomegues-box {
        height: 14.7rem; 
        width: 135%;
    }
    .fort-de-pomegues-img {
        height: 11.5rem; 
    }
    .ile-du-frioul-box {
        height: 10.75rem; 
        width: 135%;
    }
    .ile-du-frioul-img {
        height: 7.5rem; 
    }
    #container-pomegues-frioul {
        width: 16%;
    }
    .parc-national-des-calanques-box {
        height: 27rem;
        margin-left: 8.3%;
    }
    .parc-national-des-calanques-img {
        height: 23.5rem;
    }
    #container-notre-dame-longchamp {
        width: 18%;
    } 
    .notre-dame-de-la-garde-box {
        height: 12rem; 
        width: 128%;
    }
    .notre-dame-de-la-garde-img {
        height: 8.7rem;
    }
    .parc-longchamp-box {
        height: 13.5rem; 
        width: 128%;
    }
    .parc-longchamp-img {
        height: 10rem;
    }
    #footer-navigation {
        margin-left: 7%; 
        margin-right: 25%
    }
} 
