 /* Main elements of the page */
 body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    
    margin: 0;
}

#bloc_page {
    width: 1480px;
    margin: auto;
}

.borderNone {
    border: none;
}

.colorBlue {
    color: #0065FC;
}

.colorLightBlue {
    color: #deebff;
}

.colorGrey {
    color: rgba(54, 54, 50, 0.2);
}

 a {
     text-decoration: none;
     color: black;
 } 
 
 /* Header */

#logo_img {
    padding-top: 0.5em;
    padding-left: 1.2em;
}

/* Navigation */

.header_navigation {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo_img . lodgings_link activities_link sign_up_link";
}

.header_navigation .header_active_link {
    color: #0065FC;
}

.header_navigation a {
    color: #0065FC;
    text-decoration: none;
    padding: 3em;
}

.header_navigation img {
    grid-area: logo_img;
}

.header_navigation .header_navigation_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_navigation #navigation_link_lodgings {
    grid-area: lodgings_link;
    color: #0065fc;
}

.header_navigation #navigation_link_lodgings > .overline_effect {
    background-color: #0065fc;
}

.header_navigation #navigation_link_activities:hover > .overline_effect {
    background-color: #0065fc; 
}

.header_navigation #navigation_link_activities {
    grid-area: activities_link;
    color: black;
}

.header_navigation #navigation_link_sign_up {
    grid-area: sign_up_link;
    color: #0065fc;
    font-weight: 600;
}

#navigation_link_activities a {
    color: black;
}

#navigation_link_sign_up a {
    color: #0065fc;
}

.header_navigation .header_navigation_link .overline_effect {
    width: 100%;
    height: 3px;
}

/* First section */
.first_section {
    background-color: #FFF;
}

.main_title_sub_title {
    position: absolute;
    top: 5.2em;
    margin-left: 2.5em;
}

.h1_title {
    color: rgba(0, 0, 0, 0.92);
}

#subtitle {
    position: absolute;
    top:2.6em;
}

.research_box {
    display: inline-flex;
    flex-direction: row;
    margin-left: 2.5em;
    margin-top: 3.8em;
}

.research_bar {
    padding: 0 0 0 20px;
    height: 50px;
    width: 220px;
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    font-size: larger;
    text-decoration: none;
}

.map_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 14px 0 0 14px;
}

#button_research {
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: #FFF;
    height: 50px;
    width: 150px;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
}

.filter_choice {
    border: 2px solid rgba(54, 54, 50, 0.2);
    border-left: none;
    border-radius: 200px;
    height: 50px;
    font-weight: bold;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.92);
}

.filter_choice:hover {
    background-color: #deebff;
}

.filters_options {
    display: flex;
    margin-top: 32px;
    margin-left: 2.5em;
}

.filter_icons {
     
     color: #0065FC;
     background-color: #deebff;
     border-radius: 200px;
     margin-right: 15px;
     margin-left: px;
     padding: 18px;
     width: 20px;
 }

 .filter_bill {
     left: px;
 }

 .filter_economical {
     width: 190px;
 }

 .filter_family {
     width: 145px;
 }

 .filter_romantic {
    width: 180px;
 }

 .filter_authorized_animals {
     width: 235px;
 }

.info_sentence {
    margin-top: 2em;
    margin-bottom: 2.3em;
    margin-left: 2.5em;
}

.info_icon {
     font-size: larger;
     color: white;
     background-color: #0065FC;
     border-radius: 200px;
}

/* Second section */

.section2 {
    background-color: #F2F2F2;
    margin-top: 21px;
    margin-left: 2.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-radius: 25px;
    width: 60%;
    height: 39em;
}

#container_lodgings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
    padding: 0 0 0 0;
    
}

#lodgings_section_title {
    padding-top: 1.7em;
    color: rgba(0, 0, 0, 0.92);
}

.place_name {
    margin-top: 2px;
    margin-left: 15px;
    margin-bottom: 4px;
}

.price {
    margin-top: 0px;
    margin-left: 15px;
}

.lodgings_img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0.3em;
}


.lodgings_boxes {
    background-color: #FFF;
    border-radius: 10px;
    width: 15.3em;
    height: 5.4cm;
    margin: 0;
    box-shadow: 0px 0px 6px 0px #0000002e;
    color:black
}

.lodgings_boxes:hover {
    background: #deebff;
}

.lodgings_stars {
    margin-top: 7px;
    
}

#view_more_title {
    padding-top: 1.1em;
    
}

/* Third section */
.section3 {
    background-color: #F2F2F2;
    margin-left: 30px;
    padding-left: 30px;
    border-radius: 25px;
    width: 21.5%;
    height: 39em;
    position: absolute;
    right: 11.7em;
    top: 25.5em;
}

.title_h2_plus_icon {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

.most_populars_title {
    color: rgba(0, 0, 0, 0.92);
    margin-top: 40px;
}

.arrow_chart {
    font-size: 23px;
    margin-top: 40px;
    margin-right: 40px;
}

.img_most_populars {
    float: left;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 1.2em;
}

.popular_boxes {
    background-color: #FFF;
    border-radius: 10px;
    width: 9.4cm;
    height: 8.9em;
    box-shadow: 0px 0px 6px 0px #0000002e;
    color: black;
}

.popular_boxes:hover {
    background-color: #deebff;
}

.price_populars {
    margin-top: ;
    margin-right: 3em;
}

.section4 {
    background-color: #FFF;
    margin-bottom: 1.4em;
}

#activities_section_title {
    padding-left: 1.7em; 
    padding-top: 1.7em;
}

#activities_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 2.5em;

}

.activities_boxes:hover {
    background-color: #deebff;
}

.activities_parts_titles {
    margin-top: 13px;
    margin-left: 20px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.92)
}

#vieux_port_box {
    
    height: 27.5em;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);
}
#fort_de_pomegues_box {
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);
    color: black;
}

#ile_du_frioul_box {
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);
    color: black;
    position: absolute;
    top: 88.5em;
    height: 17%;
}

#parc_national_des_calanques_box {
    height: 27.5em;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);   
    color: black;  
}

#notre_dame_de_la_garde_box {
    width: 100%;
    margin: 0;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);  
    color: black;   
}

.activities_img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: black;  
}

#parc_longchamp_box {
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75); 
    color: rgba(15, 15, 1, 0.99);  
    position: absolute;
    top: 85.8em;
    height: 21.5%;
}

/* Footer */

footer {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0px;

}

.footer_navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 1em;
}

.footer_title {
    font-size: 18px;
    margin-bottom: 15px;
    color: rgba(15, 15, 1, 0.99);
    font-weight: bold;
}

.footer_block {
    
    padding: 3em;
    display: flex;
    flex-direction: column;
}

.block_about {
    margin-left: 11em;
}

.block_lodgings {
    margin-left: 20em;
}

.block_support {
    
}