body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}
.color-blue {
    color: #0065fc;
}   
.color-light-blue {
    color: #deebff;
}
.color-grey {
    color: rgba(54, 54, 50, 0.2);
}
.color-white {
    color: #fff;
}

/* Header for mobile's portrait orientation design */
#logo-img {
    height: 3em;
    margin-top: 1.5em;
    margin-left: 1.5em;
    color: #0065fc;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.92);
}
.header-navigation a {
    color: #0065fc;
    text-decoration: none;
}
.navigation-link-sign-up a {
    color: #0065fc;
    font-weight: 600;
    position: absolute;
    left: 17em;
    top: 2.5em;
}
.navigation-link-activities a {
    color: rgba(0, 0, 0, 0.92);
    position: absolute;
    top: 6.3em;
    left: 15em;
}
.navigation-link-lodgings a {
    position: absolute;
    top: 6.3em;
    left: 2.6em;
}
.header-navigation .navigation-link-lodgings .underline-effect {
    height: 3px;
    position: absolute;
    top: 8.3em;
    width: 50%;
    background: #fff;
}
.header-navigation .navigation-link-lodgings > .underline-effect {
    background-color: #0065fc;
}
.header-navigation .navigation-link-activities .underline-effect {
    height: 3px;
    position: absolute;
    top: 8.3em;
    left: 50%;
    width: 50%;
    background: #fff;
}
.header-navigation .navigation-link-activities > .underline-effect {
    background-color: #f2f2f2;
}
.header-navigation .navigation-link-activities:hover > .underline-effect {
    background-color: #0065fc;
}

/* First section for mobile's portrait orientation design*/
#section-1 {
    background-color: #fff;
}
#h1-title {
    color: rgba(0, 0, 0, 0.92);
    position: absolute;
    top: 6.6em;
    left: 0.9em;
}
#subtitle {
    font-size: 1em;
    white-space: nowrap;
    position: absolute;
    top: 14.3em;
    left: 1.5em;
}
.research-box {
    display: inline-flex;
    flex-direction: row;
    margin-left: 1.4em;
    margin-top: 13.5em;
}
.map-icon {
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    background-color: #f2f2f2;
    border-radius: 18px 0 0 18px;
}
.research-bar {
    width: 14em;
    border: none;
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    padding: 0 0 0 20px;
    font-size: 1em;
    text-decoration: none;
    margin-right: -1em;
}
input::placeholder {
    color: rgba(0, 0, 0, 0.92);
    opacity: 1;
}
.research-bar:focus {
    outline: none;
}
#button-research {
    display: none;
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: #fff;
    height: 3.3em;
    width: 8em;
    font-weight: 700;
    font-size: 1em;
    padding: 1em;
    cursor: pointer;
}
#button-2 {
    border: none;
    border-radius: 16px 16px 16px 16px;
    background-color: #0065fc;
    color: #fff;
    width: 3.3em;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
}
#title-filters {
    position: absolute;
    top: 17.8em;
    left: 1.2em;
    margin-top: 1.8em;
    font-size: 1.2em;
}
.filter-choice {
    border: 2.5px solid rgba(54, 54, 50, 0.2);
    border-left: none;
    border-radius: 200px;
    height: 50px;
    font-weight: bold;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.92);
}
.filter-economical {
    width: 11.5em;
    position: absolute;
    top: 26em;
    left: 1em;
    margin-left: 0.2em;
}
.filter-family {
    width: 9em;
    position: absolute;
    top: 26em;
    left: 12.2em;
    padding-right: 0.3em;
    margin-left: 1em;
}
.filter-romantic {
    width: 10.5em;
    position: absolute;
    top: 30.2em;
    left: 0.2em;
    margin-left: 1em;
    padding-right: 0.7em;
}
.filter-authorized-animals {
    width: 232px;
    position: absolute;
    top: 34.3em;
    left: 0.2em;
    margin-left: 1em;
}
.filters-options {
    display: inline-block;
    align-content: space-between;
    padding-bottom: 3em;
    margin-top: 32px;
}
.filter-icons {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 200px;
    margin-top: -1px;
    margin-right: 15px;
    padding: 18px;
    width: 20px;
}
#info-sentence {
    font-size: 1em;
    position: absolute;
    top: 39.5em;
    left: 1.1em;
    margin-right: 0.1em;
}
.info-icon {
    font-size: 0.7em;
    color: #0065fc;
    border: 1px solid #d9d9d9;
    border-radius: 200px;
    margin-right: 0.5em;
    padding: 6px 10px 6px 10px;
}

/* section 2 "Les plus populaires" for mobile's portrait orientation design */
#section-2 {
    background-color: #f2f2f2;
    width: 100%;
    position: absolute;
    top: 44.5em;
    left: 0;
    height: 37em;
    margin-bottom: 2em;
}
.most-populars-title {
    color: rgba(0, 0, 0, 0.92);
    position: absolute;
    left: 0.8em;
    margin-top: 1.6em;
}
.arrow-chart {
    position: absolute;
    top: 1.8em;
    left: 14.5em;
    font-size: 1.4em;
}
#container-les-plus-populaires {
    position: absolute;
    top: 4.7em;
    left: 1.4em;
}
.popular-boxes {
    background-color: #fff;
    border-radius: 20px;
    width: 20.8em;
    height: 9em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 6px 0px #0000002e;
    color: rgba(0, 0, 0, 0.92);
}
.img-most-populars {
    object-fit: cover;
    float: left;
    height: 8.3em;
    width: 40%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 0.3em;
    padding-left: 0.2em;
    padding-right: 1.2em;
}
.most-populars-names-places {
    padding-top: 0.7em;
}
.price-populars {
    margin-top: 0.3em;
}
h3 {
    font-size: 1.1em;
    margin-bottom: 3px;
}

/* section 3 "Hébergements à Marseille" for mobile's portrait orientation design */
#section-3 {
    background-color: #fff;
    position: absolute;
    top: 83em;
    height: 39em;
    margin-bottom: 2em;
}
#lodgings-section-title {
    margin-left: 0.8em;
    color: rgba(0, 0, 0, 0.92);
}
.lodgings-boxes {
    background-color: #fff;
    border-radius: 25px;
    width: 21em;
    height: 13em;
    margin-bottom: 2em;
    margin-left: 1.2em;
    box-shadow: 0px 0px 6px 0px #0000002e;
    color: rgba(0, 0, 0, 0.92);
}
.lodgings-img {
    object-fit: fill;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 0.1em;
    padding: 0.3em;
    height: 7.2em;
    width: 96%;
}
.place-name {
    margin-top: 0.125em;
    margin-left: 0.938em;
    margin-bottom: 0.25em;
}
.price {
    margin-top: 0em;
    margin-left: 0.938em;
}
.lodgings-stars {
    margin-top: 0.438em;
}
#view-more-title {
    margin-top: 2em;
    margin-left: 1.3em;
    font-size: 1.1em;
}

/* section 4 "Activités à Marseille" for mobile's portrait orientation design */
#section-4 {
    background-color: #fff;
    position: absolute;
    top: 180em;
    margin-bottom: 1.5em;
    width: 100%;
}
#activities-section-title {
    margin-top: 1.7em;
    margin-bottom: 1em;
    margin-right: 1.7em;
    margin-left: 1em;
}
#activities-container {
    margin-top: 1em;
    margin-left: 0.1em;
}
.activities-boxes {
    border-radius: 25px;
    box-shadow: 1px 1px 17px -9px rgba(0, 0, 0, 0.75);
    color: rgba(0, 0, 0, 0.92);
    height: 11.8em;
    width: 20.8em;
    margin-right: 0.5em;
    margin-left: 1em;
    margin-bottom: 1.5em;
}
.activities-parts-titles {
    font-size: 1.1em;
    margin-top: 13px;
    margin-left: 20px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.92);
}
.activities-img {
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 75%;
    color: rgba(0, 0, 0, 0.92);
}

/* Footer for mobile's portrait orientation design */
footer {
    width: 100%;
    position: absolute;
    top: 267em;
    height: 30.5em;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#footer-navigation {
    margin-left: 2em;
}
.footer-block {
    margin-bottom: 2.5em;
}
.footer-title {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.92);
    font-weight: bold;
}

/* CSS for mobile's landscape mode */
@media screen and (min-width: 576px) {
    .navigation-link-sign-up a {
        left: 35em;
    }
    .navigation-link-activities a {
        top: 2.5em;
        left: 29em;
    }
    .navigation-link-lodgings a {
        top: 2.5em;
        left: 20em;
    }
    .header-navigation .navigation-link-lodgings .underline-effect {
        display: none;
    }
    .header-navigation .navigation-link-activities .underline-effect {
        display: none;
    }
    #h1-title {
        top: 4em;
    }
    #subtitle {
        top: 8.5em;
    }
    .research-box {
        margin-top: 8em;
    }
    #button-research {
        display: inline;
    }
    #button-2 {
        display: none;
    }
    #title-filters {
        top: 13em;
    }
    .filter-economical {
        top: 20em;
    }
    .filter-family {
        top: 20em;
    }
    .filter-romantic {
        top: 20em;
        left: 22em;
    }
    .filter-authorized-animals {
        top: 24em;
    }
    #info-sentence {
        top: 29em;
    }
    #section-2 {
    top: 33em;
    left: 1em;
    width: 95%;
    border-radius: 25px;
    }
    .arrow-chart {
        left: 26.2em;
    }
    .popular-boxes {
        width: 37em;
    }
    .price-populars {
        margin-top: 0.5em;
    }
    .populars-stars {
        margin-top: 1.5em;
    }
    #section-3 {
        top: 73em;
        left: 1em;
        border-radius: 25px;
        background-color: #f2f2f2;
        width: 95%;
        height: 53em;
    }
    #container-lodgings {
        display: flex;
        flex-wrap: wrap;
    }
    .lodgings-boxes {
        width: 18em;
        height: 13em;
        margin-bottom: 2em;
        margin-left: 1em;
    }
    #view-more-title {
        margin-top: 0.5em;
    }
    #section-4 {
        top: 127em;
    }
    #activities-section-title {
        margin-left: 1.5em;
    }
    #activities-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1.5em;
    }
    .activities-boxes {
        height: 16em;
        width: 18em;
        margin-right: 0.5em;
        margin-bottom: 1.5em;
    }
    .activities-img {
        width: 100%;
        height: 13em;
    }
    footer {
        top: 187em;
        height: 15em;
        flex-wrap: wrap;
    }
    #footer-navigation {
        display: flex;
        justify-content: space-evenly;
        margin-left: 1em;
        margin-top: 1em;
    }
    .footer-block {
        margin-right: 1em;
    }
}

/* Style for tablet's portrait mode */
@media screen and (min-width: 768px) {
    #logo-img {
        margin-left: 1em;
    }
    .header-navigation .header-navigation-link .overline-effect {
        display: none;
    }
    .navigation-link-lodgings a {
        position: absolute;
        left: 25em;
    }
    .navigation-link-activities a {
        position: absolute;
        left: 34em;
    }
    .navigation-link-sign-up a {
        position: absolute;
        left: 40em;
    }
    .main-title-subtitle {
        margin-left: 0em;
    }
    .research-box {
        margin-left: 1em;
    }
    #info-sentence {
        margin-left: 0;
    }
    #section-2 {
        width: 96%;
        border-radius: 25px;
    }
    .arrow-chart {
        left: 31em;
    }
    .popular-boxes {
        width: 230%;
    }
    .populars-stars {
        margin-top: 1em;
    }
    #section-3 {
        width: 96%;
        height: 53em;
        left: 0;
        padding-left: 0;
        border-radius: 25px 25px 25px 25px;
        background-color: #f2f2f2;
        margin-left: 1em;
        margin-bottom: 0;
    }
    #lodgings-section-title {
        margin-left: 3.6em;
    }
    #container-lodgings {
        margin-left: 4.5em;
    }
    #view-more-title {
        margin-left: 5em;
    }
    #section-4 {
        top: 127em;
    }
    #activities-section-title {
        margin-left: 3.8em;
    }
    #activities-container {
        margin-left: 5em;
    }
    footer {
        top: 187em;
    }
    #footer-navigation {
        margin-left: 2em;
    }
    .footer-block {
        margin-right: 0;
    }
}

/* Style for tablet's landscape mode */
@media screen and (min-width: 992px) {
    .navigation-link-sign-up a {
        left: 53em;
    }
    .navigation-link-activities a {
        left: 45em;
    }
    .navigation-link-lodgings a {
        left: 34em;
    }
    .filter-authorized-animals {
        left: 33.7em;
        top: 20em;
    }
    #info-sentence {
        top: 25em;
    }
    #section-2 {
        top: 29em;
    }
    .arrow-chart {
        left: 40.5em;
    }
    .popular-boxes {
        width: 300%;
    }
    #section-3 {
        top: 68em;
        height: 39em;
    }
    #lodgings-section-title {
        margin-left: 1.5em;
    }
    #container-lodgings {
        margin-left: 1em;
    }
    #view-more-title {
        margin-left: 2em;
    }
    #section-4 {
        top: 107em;
    }
    #activities-section-title {
        margin-left: 1.5em;
    }
    #activities-container {
        margin-left: 1.5em;
    }
    footer {
        top: 150em;
    }
    #footer-navigation {
        justify-content: space-around;
        margin-left: -2em;
    }
}

/* Style for desktop mode */
@media screen and (min-width: 1025px) {
    #logo-img {
        margin-left: 15.5em;
    }
    .navigation-link-lodgings a {
        left: 72em;
    }
    .navigation-link-activities a {
        left: 84em;
    }
    .navigation-link-sign-up a {
        left: 93em; 
    }
    .header-navigation .navigation-link-activities .underline-effect {
        display: none;
    }
    .header-navigation .navigation-link-lodgings > .overline-effect {
        background-color: #0065fc;
        top: 0;
        left: 60%;
        width: 10%;
        display: inline;
    }
    .header-navigation .navigation-link-activities:hover > .overline-effect {
        background-color: #0065fc;
        top: 0;
        left: 68%;
        width: 10%;
        display: inline;
    }
    .navigation-link-activities a:hover {
        color: #0065fc;
    }
    #h1-title {
        left: 10.5em;
    }
    #subtitle {
        left: 16em;
    }
    .research-box {
        margin-left: 16em;
    }
    #title-filters {
        margin-top: 3em;
        margin-left: 12.2em;
    }
    .filter-choice:hover {
        background-color: #deebff;
    }
    .filter-economical {
        top: 18em;
        left: 21.5em;
    }
    .filter-family {
        top: 18em;
        left: 34em;
    }
    .filter-romantic {
        top: 18em;
        left: 45em;
    }
    .filter-authorized-animals {
        top: 18em;
        left: 58em;
    }
    #info-sentence {
        margin-left: 15em;
    }
    #section-2 {
        height: 39em;
        width: 22%;
        left: 74em;
        margin-bottom: 0;
    }
    .arrow-chart {
        left: 15em;
    }
    .popular-boxes {
        width: 112%;
        height: 9.2em;
    }
    .popular-boxes:hover {
        background-color: #deebff;
    }
    .img-most-populars {
        height: 8.6em;
    }
    .populars-stars {
        margin-top: 0.5em;
    }
    #section-3 {
        background-color: #f2f2f2;
        width: 46%;
        height: 39em;
        top: 29em;
        left: 15em;
        padding-left: 0.5em;
        padding-right: 2em;
        border-radius: 25px;
    }
    #container-lodgings {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 27px;
        padding: 0 0 0 0;
    }
    .lodgings-boxes {
        width: 92%;
    }
    .lodgings-boxes:hover {
        background: #deebff;
    }
    .lodgings-img {
        width: 94.5%;
    }
    #section-4 {
        top: 68em;
    }
    #activities-section-title {
        margin-left: 10.5em;
        margin-top: 2em;
    }
    #activities-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 0 0 0;
        column-gap: 20px;
        row-gap: 15px; 
        margin-left: 15em;
        margin-right: 15em; 
    }
    .activities-boxes:hover {
        background-color: #deebff;
    }
    .vieux-port-box {
        height: 27em;
        grid-area: 1 / 1 / 3 / 3;
    }
    .vieux-port-img {
        height: 23.5em;
    }
    .fort-de-pomegues-box {
        height: 14.7em; 
        grid-area: 1 / 2 / 2 / 3;
    }
    .fort-de-pomegues-img {
        height: 11.5em; 
    }
    .ile-du-frioul-box {
        height: 11em; 
        grid-column: 2 / 4;
        margin-top: -14.3em;
    }
    .ile-du-frioul-img {
        height: 8em; 
    }
    .parc-national-des-calanques-box {
        height: 27em;
        grid-column: 3 / 4;
        grid-row: 1;
    }
    .parc-national-des-calanques-img {
        height: 23.5em;

    }
    .notre-dame-de-la-garde-box {
        height: 12em; 
        grid-column: 4 / 4;
        grid-row: 1 / 2;
    }
    .notre-dame-de-la-garde-img {
        height: 8.7em;
        
    }
    .parc-longchamp-box {
        height: 13em; 
        grid-column: 4 / 4;
        margin-top: -16.5em;
    }
    .parc-longchamp-img {
        height: 9.5em;
    }
    footer {
        top: 107em;
    }
    #footer-navigation {
        margin-left: 8em;
        margin-right: 24em;
    }
}
