/* CSS for the desktop's design */

body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: 0;
}
#bloc-page {
    width: 80%;
    margin: auto;
}
.color-blue {
    color: #0065FC;
}
.color-light-blue {
    color: #deebff;
}
.color-grey {
    color: rgba(54, 54, 50, 0.2);
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.92);
} 

/* Header for desktop's orientation design */
#logo-img {
    padding-top: 0.8em;
    padding-left: 2.3em;
    color: #0065FC;
}

/* Header's Navigation for desktop's design */
.header-navigation {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo-img . lodgings-link activities-link sign-up-link";
}
.header-navigation .header-active-link {
    color: #0065FC;
}
.header-navigation a {
    color: #0065FC;
    text-decoration: none;
    padding: 3em;
}
.header-navigation img {
    grid-area: logo-img;
}
.header-navigation .header-navigation-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-navigation .navigation-link-lodgings {
    grid-area: lodgings-link;
    color: #0065fc;
}
.header-navigation .navigation-link-lodgings > .overline-effect {
    background-color: #0065fc;
}
.header-navigation .navigation-link-activities:hover > .overline-effect {
    background-color: #0065fc; 
}
.header-navigation .navigation-link-activities {
    grid-area: activities-link;
    color: black;
}
.header-navigation .navigation-link-sign-up {
    grid-area: sign-up-link;
    color: #0065fc;
    font-weight: 600;
}
.navigation-link-activities a {
    color: black;
}
.navigation-link-activities a:hover {
    color: #0065fc;
}
.navigation-link-sign-up a {
    color: #0065fc;
}
.header-navigation .header-navigation-link .overline-effect {
    width: 100%;
    height: 3px;
}
nav div:last-child {
    margin-right: 3.5em;
}

/* First section for desktop's design */
#section-1 {
    background-color: #FFF;
}
.h1-title {
    color: rgba(0, 0, 0, 0.92);
    position: absolute;
    top: 4.5em;
    left: 9.2em;
}
#subtitle {
    position: absolute;
    top: 9.3em;
    left: 14em;
}
.research-box {
    display: inline-flex;
    flex-direction: row;
    margin-left: 2.5em;
    margin-top: 5.3em;
}
.research-bar {
    padding: 0 0 0 20px;
    height: 50px;
    width: 220px;
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    font-size: larger;
    text-decoration: none;
}
.map-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.438em;
    height: 3.125em;
    background-color: #F2F2F2;
    border-radius: 14px 0 0 14px;
}
#button-research {
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: #FFF;
    height: 3.125em;
    width: 9.375em;
    font-weight: 700;
    font-size: 1em;
    padding: 1.063em;
    cursor: pointer;
}
#button-2 {
    display: none;
}
.filter-choice {
    border: 2px solid rgba(54, 54, 50, 0.2);
    border-left: none;
    border-radius: 200px;
    height: 3.125em;
    font-weight: bold;
    margin-left: 1.875em;
    color: rgba(0, 0, 0, 0.92);
}
.filter-choice:hover {
    background-color: #deebff;
}
.filters-options {
    display: flex;
    margin-top: 2em;
    margin-left: 2.5em;
}
.filter-icons {
    color: #0065FC;
    background-color: #deebff;
    border-radius: 200px;
    margin-top: -0.063em;
    margin-right: 0.938em;
    padding: 1.125em;
    width: 1.25em;
}
.filter-economical {
    width: 11.875em;
}
.filter-family {
    width: 9.5em;
}
.filter-romantic {
    width: 11.5em;
}
.filter-authorized-animals {
    width: 14.688em;
}
#info-sentence {
    margin-top: 1.7em;
    margin-bottom: 2.3em;
    margin-left: 2.5em;
}
.info-icon {
    font-size: 1em;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 200px;
    margin-right: 0.5em;
    padding: 6px 12px 6px 12px;
}

/* Second section for desktop's design */
#section-2 {
    background-color: #F2F2F2;
    margin-top: 1.5em;
    margin-left: 2.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-radius: 25px;
    width: 54%;
    height: 39em;
}
#container-lodgings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
    padding: 0 0 0 0;
}
#lodgings-section-title {
    padding-top: 1.7em;
    color: rgba(0, 0, 0, 0.92);
}
.lodgings-boxes {
    background-color: #FFF;
    border-radius: 10px;
    width: 15.3em;
    height: 12.7em;
    margin: 0;
    box-shadow: 0px 0px 6px 0px #0000002e;
    color:black
}
.lodgings-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0.3em;
}
.place-name {
    margin-top: 0.125em;
    margin-left: 0.938em;
    margin-bottom: 0.25em;
}
.price {
    margin-top: 0em;
    margin-left: 0.938em;
}
.lodgings-boxes:hover {
    background: #deebff;
}
.lodgings-stars {
    margin-top: 0.438em;
}
#view-more-title {
    margin-top: 1.1em;
}

/* Third section for desktop's design*/
#section-3 {
    background-color: #F2F2F2;
    margin-left: 1.875em;
    padding-left: 1.875em;
    border-radius: 25px;
    width: 21.5%;
    height: 39em;
    position: absolute;
    right: 17.5em;
    top: 27em;
}
.title-h2-plus-icon {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}
.most-populars-title {
    color: rgba(0, 0, 0, 0.92);
    margin-top: 2.5em;
}
.arrow-chart {
    font-size: 1.438em;
    margin-top: 2.5em;
    margin-right: 2.5em;
}
.popular-boxes {
    background-color: #FFF;
    border-radius: 10px;
    width: 22.3em;
    height: 8.9em;
    box-shadow: 0px 0px 6px 0px #0000002e;
    color: rgba(0, 0, 0, 0.92);
}
.img-most-populars {
    float: left;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 1.2em;
}
.popular-boxes:hover {
    background-color: #deebff;
}
.popular-boxes .price-populars {
    margin-top: -0.5em;
}
.populars-stars {
    margin-top: 0.5em;
}

/* Section four for desktop's design */
#section-4 {
    background-color: #FFF;
    margin-bottom: 1.4em;
}
#activities-section-title {
    padding-left: 1.7em; 
    padding-top: 1.7em;
}
#activities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 2.5em;
}
.activities-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgba(0, 0, 0, 0.92);  
}
.activities-boxes:hover {
    background-color: #deebff;
}
.activities-parts-titles {
    margin-top: 0.813em;
    margin-left: 1.25em;
    padding-bottom: 1.25em;
    color: rgba(0, 0, 0, 0.92)
}
#vieux-port-box {
    height: 27.5em;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);
}
#fort-de-pomegues-box {
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);
    color: black;
}
#ile-du-frioul-box {
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);
    color: black;
    position: absolute;
    top: 90.4em;
    height: 10.1em;
}
#parc-national-des-calanques-box {
    height: 27.5em;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);   
    color: black;  
}
#notre-dame-de-la-garde-box {
    width: 100%;
    margin: 0;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);  
    color: black;   
}
#parc-longchamp-box {
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75); 
    color: rgba(15, 15, 1, 0.99);  
    position: absolute;
    top: 87.5em;
    height: 13em;
}
#container-notre-dame-longchamp {
    padding-right: 3.5em;
}

/* Footer for desktop's design */
footer {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0px;
}
#footer-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0em;
    margin-left: 1em;
    margin-right: 27em;
}
.footer-title {
    margin-bottom: 0.938em;
    color: rgba(15, 15, 1, 0.99);
    font-weight: bold;
}
.footer-block {
    padding-top: 3em;
    padding-bottom: 3em;
    margin-right: 12em;
    display: flex;
    flex-direction: column;
}
.block-about {
    margin-left: 13em;
}
.block-lodgings {
    margin-left: 2em;
}
.block-support {
    margin-left: 3em;
}

@media screen and (min-width: 992px) and (max-width: 1024.98px) and (orientation: landscape) {
    #logo-img {
        height: 3.8em;
        position: absolute;
        top: 2.5em;
        left: 0.5em;
    }
    .navigation-link-lodgings a {
        font-size: 1.3em;
        margin-left: 43em;

    }
    .navigation-link-activities a {
        font-size: 1.3em;
    }
    .navigation-link-sign-up a {
        font-size: 1.3em;
    }
    .header-navigation .header-navigation-link .overline-effect {
        display: none;
    }
    .h1-title {
        font-size: 1.7em;
        top: 6em;
        left: 2em;
    }
    #subtitle {
        font-size: 1.3em;
        top: 9.8em;
        left: 2.7em;
    }
    .map-icon {
        height: 4.030em;
        width: 4em;
    }
    .research-box {
        position: absolute;
        top: 12.2em;
        left: 0.5em;
    }
    .research-bar {
        height: 3.34em;
    }
    #button-research {
        height: 3.95em;
    }
    .filters-options {
        position: absolute;
        top: 21.5em;
        left: 7.5em;
    }
    #title-filters {
        font-size: 1.3em;
        margin-left: -5em;
    }
    .filter-icons {
        padding-bottom: 1.125em;
    }
    .filter-choice {
        height: 3.1em;
        font-size: 1.2em;
    }
    .filter-economical {
        width: 12em;
    }
    .filter-family {
        width: 10.7em;
    }
    .filter-romantic {
        width: 12em; 
    }
    .filter-authorized-animals {
        width: 15em;
    }
    .info-icon {
        font-size: 0.7em;
        margin-right: 1em;
        padding: 8px 12px 8px 12px;
    }
    #info-sentence {
        font-size: 1.3em;
        position: absolute;
        top: 21em;
        left: 0.3em;
    }
    #section-2 {
        height: 50em;
        position: absolute;
        top: 83em;
        left: -2.5em;
        width: 117.2%;
        border-radius: 0px;
    }
    #lodgings-section-title {
        font-size: 1.7em;
    }
    .lodgings-boxes {
        width: 23em;
        height: 17em;
    }
    .lodgings-img {
        width: 97%;
    }
    .place-name {
        font-size: 1.3em;
    }
    .price {
        font-size: 1.2em;
    }
    #view-more-title {
        margin-top: 2em;
        font-size: 1.4em;
    }
    #section-3 {
        top: 34em; 
        width: 122.3%;
        left: -2em;                 
        height: 46em;
        border-radius: 0px;
    }
    .most-populars-title {
        font-size: 1.7em;
    }
    .arrow-chart {
        font-size: 1.8em;
        margin-top: 2.3em;
        margin-right: 2em;
    }
    .popular-boxes {
        width: 96%;
        height: 10.1em;
    }
    .img-most-populars {
        height: 9.5em;
        width: 16em;
        padding-top: 0.3em;
        padding-left: 0.3em;
    }
    .most-populars-names-places {
        font-size: 1.3em;  
        padding-top: 0.5em;
    }
    .popular-boxes p {
        font-size: 1.2em;
        margin-top: -0.5em;
    }
    .populars-stars {
        margin-top: 1.5em;
    }
    #section-4 {
        position: absolute;
        top: 135em;
        left: 8em;
    }
    #activities-section-title {
        font-size: 1.7em;
    }
    .activities-boxes {
        border-radius: 25px;
        box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);
        color: rgba(0, 0, 0, 0.92);
        height: 12em;
        width: 25em;
        margin-right: 0.5em;
        margin-bottom: 1.5em;
    }
    .activities-parts-titles {
        font-size: 1.3em;
        margin-top: 0.813em;
        margin-left: 1.25em;
        padding-bottom: 1.25em;
        color: rgba(0, 0, 0, 0.92)
    }
    .activities-img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height: 15em;
        color: rgba(0, 0, 0, 0.92);  
    }
    #vieux-port-box {
        position: absolute;
        top: 9em ;
        left: 2.5em;
        height: 19em;
    }
    #fort-de-pomegues-box {
        position: absolute;
        top: 9em;
        left: 34em;
        height: 19em;
    }
    #ile-du-frioul-box {
        position: absolute;
        top: 31em ;
        left: 2.5em;
        height: 19em;
    }
    #parc-national-des-calanques-box {
        position: absolute;
        top: 31em;
        left: 34em;
        height: 19em;
    }
    #notre-dame-de-la-garde-box {
        position: absolute;
        top: 52.8em;
        left: 2.5em;
        height: 19em;
        width: 25em;
    }
    #parc-longchamp-box {
        position: absolute;
        top: 52.8em;
        left: 34em;
        height: 19em;
    }
    footer {
        width: 125%;
        position: absolute;
        top: 212em;
    }
    #footer-navigation {
        margin-left: 15em;
    }
    .footer-title {
        font-size: 1.5em;
    }
    .footer-link {
        font-size: 1.3em;
    }
}

/* Style for tablet's portrait orientation design */
@media screen and (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
    #logo-img {
        height: 4em;
        padding-top: 0.2em;
        margin-left: 20em;
    }
    .header-navigation a {
        padding-right: 1em;
    }
    .navigation-link-lodgings a {
        font-size: 1.4em;
        margin-left: 10em;
    }
    .navigation-link-activities a {
        font-size: 1.4em;
    }
    .navigation-link-sign-up a {
        font-size: 1.4em;
    }
    .header-navigation .header-navigation-link .overline-effect {
        display: none;
    }
    .h1-title {
        font-size: 1.648em;
        top: 5.5em;
        left: 2.2em;
    }
    #subtitle {
        font-size: 1.3em;
        top: 8.8em;
        left: 3em;
    }
    .research-box {
        margin-top: 6.5em;
        margin-left: -1em;
    }
    .map-icon {
        height: 4.7em;
        width: 5em;
    }
    .research-bar {
        height: 3.86em;
        width: 15em;
    }
    ::placeholder {
        font-size: 1.2em;
    }
    #button-research {
        height: 3.54em;
        font-size: 1.3em;
        width: 8em;
    }
    #title-filters {
        font-size: 1.5em;
        position: absolute;
        top: 14em;
        left: 3em;
    }
    .filter-icons {
        padding-bottom: 1.3em;
    }
    .filter-choice {
        height: 3.3em;
    }
    .filter-economical {
        position: absolute;
        top: 19.5em;
        left: 1em; 
        width: 16em;
        font-size: 1.3em;
    }
    .filter-family {
        position: absolute;
        top: 19.5em;
        left: 19em;
        width: 16em;
        font-size: 1.3em;
    }
    .filter-romantic {
        position: absolute;
        top: 24em;
        left: 1em;
        width: 16em;
        font-size: 1.3em;
    }
    .filter-authorized-animals {
        position: absolute;
        top: 24em;
        left: 19em;
        width: 16em;
        font-size: 1.3em;
    }
    .info-icon {
        padding: 6px 12px 6px 12px;
    }
    #info-sentence {
        font-size: 1.3em;
        position: absolute;
        top: 27.5em;
        left: 1em;
    }
    #section-2 {
        position: absolute;
        top: 100em;
        left: -2.5em;
        height: 48em;
        width: 123.2%;
        border-radius: 0px;
    }
    #lodgings-section-title {
        font-size: 1.8em;
    }
    .lodgings-boxes {
        height: 15em;
        width: 18.1em;
    }
    .lodgings-img {
        height: 8.155em;
    }
    .place-name {
        font-size: 1.5em;
    }
    .price {
        font-size: 1.3em;
    }
    #view-more-title {
        font-size: 1.5em;
        margin-top: 2em;
    }
    #section-3{
        position: absolute;
        top: 42em;
        left: -2em;
        height: 55em;
        width: 130%;
        border-radius: 0px;
    }
    .most-populars-title {
        font-size: 1.8em;
        margin-left: 2.3em;
    }
    .arrow-chart {
        font-size: 2em;
        margin-top: 2em;
        margin-right: 2.4em;
    }
    .popular-boxes {
        height: 13em;
        width: 86%;
        margin-left: 4em;
    }
    .img-most-populars {
        height: 12.6em;
    }
    .most-populars-names-places {
        font-size: 1.5em;
        padding-top: 0.6em;
    }
    .popular-boxes p {
        font-size: 1.3em;
    }
    .populars-stars {
        font-size: 1.3em;
        padding-top: 2em;
    }
    #section-4 {
        position: absolute;
        top:150em;
    }
    #activities-section-title {
        font-size: 1.8em;
    }
    .activities-parts-titles {
        font-size: 1.3em;
    }
    #vieux-port-box {
        height: 30.3em;
        width: 21em;
        margin-left: 0.6em;
    }
    .vieux-port-img {
        height: 26.5em;
    }
    #fort-de-pomegues-box {
        position: absolute;
        top: 8em;
        left: 30em;
        height: 17em;
    }
    .fort-de-pomegues-img {
        height: 13em;
    }
    #ile-du-frioul-box {
        position: absolute;
        top: 27em;
        left:30em;
        height: 11.5em;
    }
    .ile-du-frioul-img {
        height: 8em;
    }
    #parc-national-des-calanques-box {
        position: absolute;
        top: 41em;
        left: 3.3em;
        width: 21em;
        height: 30.5em;
    }
    .parc-national-des-calanques-img {
        height: 26.5em;
    }
    #notre-dame-de-la-garde-box {
        position: absolute;
        top: 40.8em;
        left: 30em;
        height: 14em;
        width: 22em;
    }
    .notre-dame-de-la-garde-img {
        height: 10.27em;
    }
    #parc-longchamp-box{
        position: absolute;
        top: 56em;
        left: 30em;
        height: 15.5em;
    }
    .parc-longchamp-img {
        width: 22em;
    }
    footer {
        position: absolute;
        top: 226em;
        width: 133.6%; 
    }
    #footer-navigation {
        margin-left: 18em;
    }
    .footer-block {
        margin-right: 8em;
    }
    .footer-title {
        font-size: 1.5em;
    }
    .footer-link {
        font-size: 1.3em;
    }
}
    
/* CSS for mobile's landscape orientation design */
@media screen and (min-width: 576px)  and (max-width: 767.98px) and (orientation: landscape) {
    
    /* Header for mobile's landscape orientation design */
    #logo-img {
        padding-top: 3.8em;
        padding-left: 1.5em;
        height: 5em;
    }
    .header-navigation .header-navigation-link .overline-effect {
        display: none;
    }
    .navigation-link-lodgings {
        position: absolute;
        top: 0.5em;
        left: 23em;
        font-size: 1.5em;
    }
    .navigation-link-activities {
        position: absolute;
        top: 0.5em;
        left: 33em;
        font-size: 1.5em;
    }
    .navigation-link-sign-up {
        position: absolute;
        top: 0.5em;
        left: 40em;
        font-size: 1.5em;
    }
    .h1-title {
        font-size: 2.2em;
        position: absolute;
        top: 5em;
        left: 2.7em;
    }
    #subtitle {
        font-size: 1.6em;
        position: absolute;
        top: 11em;
        left: 4em;
    }
    .research-box {
        margin-top: 15.2em;
        margin-left: 1.8em;
    }
    .map-icon {
        height: 5.5em;
        width: 5em;
    }
    .research-bar {
        height: 4.5em;
        width: 15em;
    }
    ::placeholder {
        font-size: 1.5em;
    }
    #button-research {
        height: 3.6em;
        font-size: 1.5em;
        width: 8em;
    }
    #title-filters {
        position: absolute;
        top: 17.5em;
        left: 3.9em;
        margin-top: 1.8em;
        font-size: 1.7em;
    } 
    .filter-icons {
        padding-top: 1.1em;
    }
    .filter-economical {
        width: 16em;
        font-size: 1.6em;
        position: absolute;
        top: 23em;
        left: 4em;
        margin-left: 0.2em;
    }
    .filter-family {
        width: 12em;
        font-size: 1.6em;
        position: absolute;
        top: 23em;
        left: 20em;
        padding-right: 0.3em;
        margin-left: 1em;
    }
    .filter-romantic {
        width: 15em;
        font-size: 1.6em;
        position: absolute;
        top: 27em;
        left: 2.5em;
        padding-right: 0.7em;
    }
    .filter-authorized-animals {
        width: 19em;
        font-size: 1.6em;
        position: absolute;
        top: 31em;
        left: 2.5em;
    }
    .info-icon {
        padding: 11px 17px 11px 17px;
    }
    #info-sentence {
        position: absolute;
        top: 36em;
        left: 2.2em;
        white-space: nowrap;
        font-size: 1.5em;
    }
    #section-2 {
        position: absolute;
        top: 117em;
        left: -2.5em;
        border-radius: 0px;
        width: 172.3%;
        height: 58em;
    }
    #lodgings-section-title {
        font-size: 2.2em;
    }
    .lodgings-boxes {
        height: 20em;
        width: 22em;
    }
    .lodgings-img {
        height: 10em;
    }
    .place-name {
        font-size: 1.6em;
    }
    .price {
        font-size: 1.4em;
        margin-top: 0.5em;
    }
    .lodgings-stars {
        margin-top: 0.8em;
    }
    #view-more-title {
        font-size: 1.7em;
        margin-top: 1.5em;
    }
    #section-3 {
        position: absolute;
        top: 62em;
        left: -2em;
        border-radius: 0px;
        width: 180%;
        height: 54em;
    }
    .most-populars-title {
        font-size: 2.2em;
    }
    .arrow-chart {
        font-size: 2.2em;
        margin-right: 1.3em;
    }
    .popular-boxes {
        width:73em;
        height: 12em;
    }
    .img-most-populars {
        height: 11.5em;
    }
    .most-populars-names-places {
        font-size: 1.7em;
    }
    .price-populars {
        font-size: 1.5em;
    }
    .populars-stars {
        font-size: 1.5em;
        margin-top: 1.4em;
    }
    #section-4 {
        position: absolute;
        top: 177em;
    }
    #activities-section-title {
        font-size: 2.2em;
        margin-left: 3em;
    }
    #vieux-port-box {
        height: 30.3em;
        width: 21em;
        margin-left: 7em;
    }
    .vieux-port-img {
        height: 26.5em;
    }
    #fort-de-pomegues-box {
        position: absolute;
        top: 9.3em;
        left: 38em;
        height: 17em;
    }
    .fort-de-pomegues-img {
        height: 13em;
    }
    #ile-du-frioul-box {
        position: absolute;
        top: 28.3em;
        left:38em;
        height: 11.5em;
    }
    .ile-du-frioul-img {
        height: 8em;
    }
    #parc-national-des-calanques-box {
        position: absolute;
        top: 43em;
        left: 9.3em;
        width: 20.98em;
        height: 32.5em;
    }
    .parc-national-des-calanques-img {
        height: 26.5em;
    }
    #notre-dame-de-la-garde-box {
        position: absolute;
        top: 42.8em;
        left: 38em;
        height: 15.5em;
        width: 22em;
    }
    .notre-dame-de-la-garde-img {
        height: 10.27em;
    }
    #parc-longchamp-box{
        position: absolute;
        top: 60em;
        left: 38em;
        height: 15.5em;
    }
    .parc-longchamp-img {
        width: 22em;
    }
    .activities-parts-titles {
        font-size: 1.6em;
    }
    footer {
        width: 184.2%;
        position: absolute;
        top: 260em;
    }
    #footer-navigation {
        margin-left: 15em;
    }
    .footer-title {
        font-size: 1.8em;
    }
    .footer-link {
        font-size: 1.6em;
    }
}

/* CSS for mobile's portrait orientation design */
@media screen and (max-width: 575.98px) {

    #logo-img {
        padding-top: 4em;
        padding-left: 4em;
        height: 8em;
    }
    .navigation-link-sign-up a {
        font-weight: 600;
        font-size: 3em;
        position: absolute;
        left: 17em;
        top: 0em;
    }
    
    .navigation-link-activities a {
        font-size: 1.1em;
        position: absolute;
        top: 6em;
        left: 15em;
    }
    
    .navigation-link-lodgings {
        font-size: 1.1em;
        position: absolute;
        top: 6em;
        left: 2.5em;
    }
    #section-4 {
        position: absolute;
        top: 200em;
    }
    footer {
        position: absolute;
        top: 250em;
        width: 350%;
    }
}